<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- Font awesome -->
  <link href="/fontawesome-free-5.14.0-web/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome-free-5.14.0-web/css/brands.css" rel="stylesheet">
  <link href="/fontawesome-free-5.14.0-web/css/solid.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <title><%=title%></title>
</head>

<body>
  <%- include('../partials/nav') %>

  <body>
    <main class="main">
      <div class="row">
        <% for(let i = 0; i < data.length; i++) { %>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="card">
            <a href="/post/<%= data[i].id %>">
              <div class="contenedor">
                <img class="card-img-top" src="<%= cover[i] %>" alt="Lorem" style="margin: auto;">
                <div class="texto-encima">
                  <h4 style="color: <%= data[i].category.color %>;"><%= data[i].title %> </h4>
                </div>
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title text-dark"><%= title %></h5> -->
                <p class="card-text text-dark">
                  <%= data[i].subtitle %>
                </p>
              </div>
            </a>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <%- include('../partials/footer')%>
  </body>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/jquery-3.5.1.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>

</html>